alias zshconfig="vi ~/.zshrc"
alias ohmyzsh="vi ~/.oh-my-zsh"
alias nv="nvim"
alias chrome="open -a 'Google Chrome'"
alias safari="open -a 'Safari'"
alias python="python3"
alias gcc="gcc-8"
alias g++="g++-8"
alias tr="tree -L 1 -C -D -a -h -F"
alias gs="git status"
alias do-login="TERM=xterm-256color ssh root@138.68.19.124"
