alias l="exa -a --icons --git --group-directories-first --oneline"
alias ls="exa -laB --icons --git --group-directories-first"
alias lt="exa --tree --level=2 --icons --git --git-ignore"

alias man="tldr"

alias top="ytop"

alias zrc="nvim ~/.zshrc"
alias zshrc="nvim ~/.zshrc"

alias nv="nvim"
alias nrc="nvim -c '~/.config/nvim/' ~/.config/nvim/init.lua"
alias nvrc="nvim -c '~/.config/nvim/' ~/.config/nvim/init.lua"
alias nvimrc="nvim -c '~/.config/nvim/' ~/.config/nvim/init.lua"

alias vrc="vi ~/.vimrc"
alias virc="vi ~/.vimrc"
alias vimrc="vi ~/.vimrc"

alias krc="nv -c '~/.config/kitty/' ~/.config/kitty/kitty.conf" 

alias python="python3"

alias do-login="TERM=xterm-256color ssh root@138.68.19.124"

alias cat=bat
