# see https://github.com/CppCXY/EmmyLuaCodeStyle
[*.lua]
indent_style = space
indent_size = 2
quote_style = single
continuation_indent = 2
max_line_length = 120

# [align]
align_continuous_inline_comment = false
align_continuous_assign_statement = false
align_continuous_rect_table_field = false
align_array_table = false
